<div id="banner">
    <div class="wrapper">
        <div class="slides">
            <div class="slide clearfix">
                <section class="description">
                    <h2><span>פרוייקט למובייל </span> פרוייקטים/מובייל</h2>
                    <p>רביעי טכניים מלא אל. אם כדי הארץ אחרים המלחמה, בה מתוך שונה ערכים צעד. ובמתן לעברית קלאסיים ויש על. כימיה בעברית אחד של. רבה את אקראי מונחים מחליטה, את עזה המשפט עקרונות</p>
                    <a href="#" class="button1 css3">קראו עוד &larr;</a> </section>
                <section class="image"> <img alt="slider-img" src="resources/images/assets/banner/image1.png"> </section>
            </div>

            <div class="slide clearfix">
                <section class="description">
                    <h2><span>פרוייקט למובייל </span> פרוייקטים/מובייל</h2>
                    <p>היא את לציין קהילה תקשורת, צעד דת בארגז לאחרונה. החברה המקושרים את אחר, בכפוף ייִדיש חפש בה</p>
                    <a href="#" class="button1 css3">קראו עוד &larr;</a> </section>
                <section class="image"> <img alt="slider-img" src="resources/images/assets/banner/image1.png"> </section>
            </div>

            <div class="slide clearfix">
                <section class="description">
                    <h2><span>פרוייקט למובייל </span> פרוייקטים/מובייל</h2>
                    <p>צ'ט של תאולוגיה העריכהגירסאות</p>
                    <a href="#" class="button1 css3">קראו עוד &larr;</a> </section>
                <section class="image"> <img alt="slider-img" src="resources/images/assets/banner/image1.png"> </section>
            </div>

        </div>
        <section class="controls clearfix"> </section>
        <a href="#" class="previous-btn">&nbsp;</a> <a href="#" class="next-btn">&nbsp;</a> </div>
</div>