<div id="banner">
    <div class="wrapper">
        <div class="slides">
            {@banners}
            <div class="slide clearfix">
                <section class="description">
                    <h2>{title}</h2>
                    <p>{description}</p>
                    <a href="{url}" target="_blank" class="button1 css3">{#config}{goto}{/config}&larr;</a> </section>
                <section class="image"> <img alt="slider-img" src="{@cloudinary path="picture" width="537" height="329" crop="fill" gravity="north"/}"> </section>
            </div>
            {/banners}
        </div>
        <section class="controls clearfix"> </section>
        <a href="#" class="previous-btn">&nbsp;</a> <a href="#" class="next-btn">&nbsp;</a> </div>
</div>