<div class="heading">
    <p><span>{config.clients}</span></p>
</div>
<div id="clients">
    <a class="next browse left"></a>

    <!-- root element for scrollable -->
    <div class="scrollable" id="scrollable">

        <!-- root element for the items -->
        <div class="items">
            {@clients}
            <div>
                {#items}
                <img src="{@cloudinary path="picture" width="100" height="100" crop="pad" effect="saturation:-80"/}" alt="{title}">
                {/items}
            </div>
            {/clients}
        </div>

    </div>
    <a class="prev browse right"></a>

</div>
