<section class="section contact-form">
    <h6>{config.contact_title}</h6>
    <form method="post" action="#">
        <ul class="clearfix">
            <li><span class="textbox">
                                                                    <input type="text" onFocus="if(this.value=='{config.contact_name}') this.value='';" onBlur="if(this.value=='') this.value='{config.contact_name}';" value="{config.contact_name}" class="textbox">
                                                                    </span></li>
            <li><span class="textbox">
                                                                    <input type="text" onFocus="if(this.value=='{config.contact_email}') this.value='';" onBlur="if(this.value=='') this.value='{config.contact_email}';" value="{config.contact_email}" class="textbox">
                                                                    </span></li>
            <li><span class="textarea">
                                                                    <textarea rows="4" cols="5" class="textarea" onFocus="if(this.value=='{config.contact_text}') this.value='';" onBlur="if(this.value=='') this.value='{config.contact_text}';">{config.contact_text}</textarea>
                                                                    </span></li>
            <li> <span class="sent-btn">
                                                                    <input type="submit" class="sent-btn" value="{config.contact_send}">
                                                                    </span> </li>
        </ul>
    </form>
</section>