<section class="section contact-form">
    <h6>{config.contact_title}</h6>
    <a name="contact"></a>

    <form>
        <ul class="clearfix">
            <li>
                <span class="textbox">
                    <input type="text"
                           name="name"
                           placeholder="{config.contact_name}"
                           class="textbox">
                </span>
            </li>
            <li>
                <span class="textbox">
                    <input type="text"
                           name="email"
                           placeholder="{config.contact_email}"
                           class="textbox">
                </span>
            </li>
            <li>
                <span class="textbox">
                    <input type="text"
                           name="phone"
                           placeholder="{config.contact_phone}"
                           class="textbox">
                </span>
            </li>
            <li>
                <span class="textarea">
                    <textarea name="message" rows="4" cols="5" class="textarea"
                              placeholder="{config.contact_text}"></textarea>
                </span>
            </li>
            <li>
                <span class="sent-btn">
                    <input type="submit" class="sent-btn"
                           value="{config.contact_send}">
                </span>
            </li>
        </ul>
    </form>
</section>