<div id="dashboard">
    <div class="wrapper clearfix">
        <section class="section">
            <h6>About US</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nisl orci, condimentum ultrices consequat eu, vehicula ac mauris.
                Ut adipiscing. Aenean nisl orci, condimentum ultrices consequat eu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nisl orci, condimentum ultrices consequat eu, vehicula ac mauris. Ut adipiscing. </p>
        </section>
        <section class="section usefull-stuff">
            <h6>Useful stuff</h6>
            <ul class="clearfix">
                <li><a href="#">Lorem ipsum dolor sit amet</a></li>
                <li><a href="#">Consectetur adipiscing</a></li>
                <li class="active"><a href="#">Aenean nisl orcirtymentum </a></li>
                <li><a href="#">Consequat eu</a></li>
                <li><a href="#">Ut adipiscing, leo nec</a></li>
                <li><a href="#">Consequat eu</a></li>
                <li class="last"><a href="#">Ut adipiscing, leo nec</a></li>
            </ul>
        </section>
        <section class="section blog-posts">
            <h6>Latest blog posts</h6>
            <ul class="clearfix">
                <li class="active"><img src="resources/images/assets/avatar.jpg" alt="avatar"> <a href="#">Maecenas metus nulla, facili a, pretium ut lacus.</a> <span class="metadata">28 October 2012</span> </li>
                <li><img src="resources/images/assets/avatar.jpg" alt="avatar"> <a href="#">Maecenas metus nulla, facili a, pretium ut lacus.</a> <span class="metadata">28 October 2012</span> </li>
                <li class="last"><img src="resources/images/assets/avatar.jpg" alt="avatar"> <a href="#">Maecenas metus nulla, facili a, pretium ut lacus.</a> <span class="metadata">28 October 2012</span> </li>
            </ul>
        </section>
        <section class="section contact-form">
            <h6>Contact Us</h6>
            <form method="post" action="#">
                <ul class="clearfix">
                    <li><span class="textbox">
                                                                    <input type="text" onFocus="if(this.value=='Your Name') this.value='';" onBlur="if(this.value=='') this.value='Your Name';" value="Your Name" class="textbox">
                                                                    </span></li>
                    <li><span class="textbox">
                                                                    <input type="text" onFocus="if(this.value=='Your Email') this.value='';" onBlur="if(this.value=='') this.value='Your Email';" value="Your Email" class="textbox">
                                                                    </span></li>
                    <li><span class="textarea">
                                                                    <textarea rows="4" cols="5" class="textarea" onFocus="if(this.value=='Message') this.value='';" onBlur="if(this.value=='') this.value='Message';">Message</textarea>
                                                                    </span></li>
                    <li> <span class="sent-btn">
                                                                    <input type="submit" class="sent-btn" value="SEND">
                                                                    </span> </li>
                </ul>
            </form>
        </section>
        <span class="arrow2">&nbsp;</span> </div>
</div>