<div id="features" class="post clearfix">
    <section class="one-fourth first">
        <h2>See how Smasher can
            help your business</h2>
        <p>Lorem ipsum dolor sit amet, cons ectetur adipiscing elit. Aenean nisl orci, condimeat eucons. Lorem ipsum dolor sit amet, cons ectetur adipiscing elitdimeat eucons. Lorem ipsum dolor sit amet, cons ectetur adipiscing elit.</p>
        <a href="#">Watch the video  &larr;</a> </section>
    <section class="one-fourth">
        <h3>Smooth to Get Started</h3>
        <p>Lorem ipsum dolor sit amet, cons ecte tur adipiscing elit. Aenean nisl orci, condimeat eucons.</p>
        <h3>Custom Widgets</h3>
        <p>Lorem ipsum dolor sit amet, cons ectetur adipiscing elit. Aenean nisl orci, condimeat eucons.</p>
    </section>
    <section class="one-fourth">
        <h3>Flexible Layouts</h3>
        <p>Lorem ipsum dolor sit amet, cons ectetur adipiscing elit. Aenean nisl orci, condimeat eucons.</p>
        <h3>Attention to Details</h3>
        <p>Lorem ipsum dolor sit amet, cons ectetur adipiscing elit. Aenean nisl or ci, condimeat eucons.</p>
    </section>
    <section class="one-fourth last">
        <h3>Unique Solutions</h3>
        <p>Lorem ipsum dolor sit amet, cons ecte tur adipiscing elit. Aenean nisl orci, condimeat eucons.</p>
        <h3>Super Clean Design</h3>
        <p>Lorem ipsum dolor sit amet, cons ectetur adipiscing elit.</p>
    </section>
</div>