<title>{page.title}</title>
<!-- META TAGS -->
{#page.meta}
<meta name="{name}" content="{content}" />
{/page.meta}
<!-- CSS -->
{?development}
<link rel="stylesheet" type="text/css" media="screen" href="resources/css/screen.css" />
<link rel="stylesheet" type="text/css" media="screen" href="resources/css/typography.css" />
<link rel="stylesheet" href="resources/css/cross-browser.css" type="text/css" media="screen" />
<link rel="stylesheet" href="resources/css/emp.css" type="text/css" />
{:else}
<link rel="stylesheet" href="resources/css/build.min.css">
{/development}

<link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,700italic,800italic,800,600italic,400italic,300italic,300' rel='stylesheet' type='text/css'>
<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
<script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<script src="resources/js/jquery-1.7.1.min.js" type="text/javascript"></script>
<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-36541417-1']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

</script>

<!-- start Bablic --><meta name='google' value='notranslate' /><script type='text/javascript'>   var bablic=bablic||{};bablic.Site='50a3bc5ca4fa03020000028e';</script><script type='text/javascript' src='//api.bablic.com/js/bablic.js'></script><!-- end Bablic -->