<!-- JAVASCRIPTS -->
<script src="resources/js/jquery-1.7.1.min.js" type="text/javascript"></script>
<script src="resources/js/css_browser_selector.js" type="text/javascript"></script>
<!-- ALL JQUERY PLUGINS  -->
<script src="resources/js/jquery.cycle.all.min.js" type="text/javascript"></script>
<script src="resources/js/jquery.ui.core.min.js" type="text/javascript"></script>
<script src="resources/js/jquery.ui.widget.min.js" type="text/javascript"></script>
<script src="resources/js/jquery.ui.tabs.min.js" type="text/javascript"></script>