{?development}
<!-- JAVASCRIPTS -->
<script src="resources/js/jquery.restjson.js"></script>
<script src="resources/js/jquery.serializeobject.js"></script>
<script src="resources/js/css_browser_selector.js"></script>
<script src="resources/js/script.js"></script>
<!-- ALL JQUERY PLUGINS  -->
<script src="resources/js/jquery.cycle.all.min.js"></script>
<script src="resources/js/jquery.ui.core.min.js"></script>
<script src="resources/js/jquery.ui.widget.min.js"></script>
<script src="resources/js/jquery.ui.tabs.min.js"></script>
<script src="resources/js/jquery.tools.min.js"></script>
<script src="resources/js/jquery.pagination.js"></script>
<script src="resources/js/blk.jquery.placeholder.js"></script>
{:else}
<script src="resources/js/build.min.js"></script>
{/development}

