<div class="heading">
    <p><span>{config.services}</span></p>
</div>

<div id="services">
    <div class="tabs clearfix">
        <ul class="tab-strip clearfix">
            {@tabs}
            <li class="{icon}"><a href="#copywriting-{_id}" class="css3">{title}</a></li>
            {/tabs}
        </ul>
        {@tabs}
        <section id="copywriting-{_id}" class="tab-content post clearfix" >
            <h1>{title}</h1>
            <h3>{sub_title}</h3>
            <div class="editor">{text|s}</div>
            {#button}
            {?text}
            <a href="{url}" class="button2 css3">{text} &larr;</a> </section>
            {/text}
            {/button}
        {/tabs}

    </div>
</div>