<div class="heading">
    <p><span>{config.services}</span></p>
</div>

<div id="services">
    <div class="tabs clearfix">
        <ul class="tab-strip clearfix">
            <li class="copywriting"><a href="#copywriting-tab" class="css3">Copywriting</a></li>
            <li class="product-design active"><a href="#product-design-tab" class="css3">Product design</a></li>
            <li class="interface-design"><a href="#interface-design-tab" class="css3">Interface design</a></li>
            <li class="user-research"><a href="#user-research-tab" class="css3">User research</a></li>
            <li class="usability-testing"><a href="#usability-testing-tab" class="css3">Usability testing</a></li>
            <li class="prototyping"><a href="#prototyping-tab" class="css3">Prototyping</a></li>
        </ul>
        <section id="copywriting-tab" class="tab-content post clearfix" >
            <h1>Product and service design</h1>
            <h3>Lorem ipsum dolor sit amet sectetuer adipiscing elit.</h3>
            <section class="testimonial css3 clearfix">
                <blockquote>
                    <p>Ectetur adipiscing elit. Aenean nisl orci, cond imeat eucons. Lorem ipsum doit amet, cons ecteorem ipsum dolor sit amet, ectetur adipiscing elit. </p>
                    <p>Ectetur adipiscing elit. Aenean nisl orci, cond imeat eucons. Aenean nisl eucons ipsum dolor sit amet, concing elit.</p>
                    <p class="cite"><cite>Ruben Batista</cite> <a href="#">Silicoon Troot Apps</a></p>
                </blockquote>
                <section class="bottom"> </section>
            </section>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nisl orci, condimentum ultrices consequat eu, vehicula ac mauris. Ut adipiscing, leo nec. Dolor sit amet, consectetur adipiscing elit. Aenean nisl orci, condimentum ultrices consequat eu, vehicula ac mauris. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nisl orci, condimentum ultrices consequat eu, vehicula ac mauris. Ut adipiscing, leo nec. Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
            <p>Aenean nisleu, vehicula ac mauris.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nisl orci, condimentum ultrices consequat eu, vehicula ac mauris. Ut adipiscing, leo nec. Lorem ipsum dolor sit amet, consectetur adipin nisl orci, condimentum ultrices consequat eu, vehicula ac mauris. Ut adipiscing, leo nec. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
            <a href="#" class="button2 css3">Get started &rarr;</a> </section>
        <section id="product-design-tab" class="tab-content post clearfix" >
            <h1>Product and service design</h1>
            <h3>Lorem ipsum dolor sit amet sectetuer adipiscing elit.</h3>
            <section class="testimonial css3 clearfix">
                <blockquote>
                    <p>Ectetur adipiscing elit. Aenean nisl orci, cond imeat eucons. Lorem ipsum doit amet, cons ecteorem ipsum dolor sit amet, ectetur adipiscing elit. </p>
                    <p>Ectetur adipiscing elit. Aenean nisl orci, cond imeat eucons. Aenean nisl eucons ipsum dolor sit amet, concing elit.</p>
                    <p class="cite"><cite>Ruben Batista</cite> <a href="#">Silicoon Troot Apps</a></p>
                </blockquote>
                <section class="bottom"> </section>
            </section>
            <a href="#" class="button2 css3">Get started &rarr;</a> </section>
        <section id="interface-design-tab" class="tab-content post clearfix" >
            <h1>Product and service design</h1>
            <h3>Lorem ipsum dolor sit amet sectetuer adipiscing elit.</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nisl orci, condimentum ultrices consequat eu, vehicula ac mauris. Ut adipiscing, leo nec. Dolor sit amet, consectetur adipiscing elit. Aenean nisl orci, condimentum ultrices consequat eu, vehicula ac mauris. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nisl orci, condimentum ultrices consequat eu, vehicula ac mauris. Ut adipiscing, leo nec. Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
            <p>Aenean nisleu, vehicula ac mauris.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nisl orci, condimentum ultrices consequat eu, vehicula ac mauris. Ut adipiscing, leo nec. Lorem ipsum dolor sit amet, consectetur adipin nisl orci, condimentum ultrices consequat eu, vehicula ac mauris. Ut adipiscing, leo nec. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
            <a href="#" class="button2 css3">Get started &rarr;</a> </section>
        <section id="user-research-tab" class="tab-content post clearfix" >
            <h1>Product and service design</h1>
            <h3>Lorem ipsum dolor sit amet sectetuer adipiscing elit.</h3>
            <p>Aenean nisleu, vehicula ac mauris.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nisl orci, condimentum ultrices consequat eu, vehicula ac mauris. Ut adipiscing, leo nec. Lorem ipsum dolor sit amet, consectetur adipin nisl orci, condimentum ultrices consequat eu, vehicula ac mauris. Ut adipiscing, leo nec. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
            <a href="#" class="button2 css3">Get started &rarr;</a> </section>
        <section id="usability-testing-tab" class="tab-content post clearfix" >
            <h1>Product and service design</h1>
            <h3>Lorem ipsum dolor sit amet sectetuer adipiscing elit.</h3>
            <section class="testimonial css3 clearfix">
                <blockquote>
                    <p>Ectetur adipiscing elit. Aenean nisl orci, cond imeat eucons. Lorem ipsum doit amet, cons ecteorem ipsum dolor sit amet, ectetur adipiscing elit. </p>
                    <p>Ectetur adipiscing elit. Aenean nisl orci, cond imeat eucons. Aenean nisl eucons ipsum dolor sit amet, concing elit.</p>
                    <p class="cite"><cite>Ruben Batista</cite> <a href="#">Silicoon Troot Apps</a></p>
                </blockquote>
                <section class="bottom"> </section>
            </section>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nisl orci, condimentum ultrices consequat eu, vehicula ac mauris. Ut adipiscing, leo nec. Dolor sit amet, consectetur adipiscing elit. Aenean nisl orci, condimentum ultrices consequat eu, vehicula ac mauris. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nisl orci, condimentum ultrices consequat eu, vehicula ac mauris. Ut adipiscing, leo nec. Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
            <p>Aenean nisleu, vehicula ac mauris.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nisl orci, condimentum ultrices consequat eu, vehicula ac mauris. Ut adipiscing, leo nec. Lorem ipsum dolor sit amet, consectetur adipin nisl orci, condimentum ultrices consequat eu, vehicula ac mauris. Ut adipiscing, leo nec. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
            <a href="#" class="button2 css3">Get started &rarr;</a> </section>
        <section id="prototyping-tab" class="tab-content post clearfix" >
            <h1>Product and service design</h1>
            <h3>Lorem ipsum dolor sit amet sectetuer adipiscing elit.</h3>
            <a href="#" class="button2 css3">Get started &rarr;</a> </section>
    </div>
</div>