<!doctype html>
<html>

<head>
    <meta charset="utf-8">

    {>"views/partials/head.html"/}
</head>

<body>
<div id="container">

    <!-- Header-->
    {>"views/partials/header.html"/}
    <!--/Header-->

    <!-- Content-->
    <div id="content">
        <div class="wrapper clearfix"> <span class="top">&nbsp;</span>

            {>"views/partials/title.html"/}

            <div class="inner-content clearfix">

                <div class="cms-content">

                    <div class="breadcrumbs">
                        {>"views/partials/breadcrumbs.html"/}
                    </div>

                    <ul>
                        {@content}
                        {#items}
                        <li>
                            <h2>{title}</h2>

                            {?picture.url}
                            <div class="cms-picture">
                                <img src="{@cloudinary path="picture" width="910" height="350" crop="fill" /}" alt="{title}">
                                <div class="title">{description}</div>
                            </div>
                            {/picture.url}

                            <div class="cms-editor">{text|s}</div>
                        </li>
                        {/items}
                        {/content}
                    </ul>
                </div>

                <span class="arrow1">&nbsp;</span>
            </div>

            {>"views/partials/phone.html"/}
        </div>
    </div>
    <!--/Content-->

    <!-- Footer-->
    {>"views/partials/footer.html"/}
    <!-- /Footer-->
</div>
<!--! end of #container -->

<!-- SCRIPTS -->
{>"views/partials/scripts.html"/}

</body>
</html>