<!doctype html>
<html>
    <head>
        <meta charset="utf-8">

        {>"partials/head.html"/}
    </head>

    <body>
        <div id="container">

            <!-- Header-->
            {>"partials/header.html"/}
            <!--/Header-->

            <!-- Banner-->
            {>"partials/banner.html"/}
            <!--/Banner-->

            <!-- Content-->
            <div id="content">
                <div class="wrapper clearfix"> <span class="top">&nbsp;</span>

                    {>"partials/title.html"/}

                    <div class="inner-content clearfix">

                        {>"partials/features.html"/}

                        {>"partials/services.html"/}

                        {>"partials/clients.html"/}

                        <span class="arrow1">&nbsp;</span> </div>

                    {>"partials/phone.html"/}
                </div>
            </div>
            <!--/Content-->

            <!-- Dashboard-->
            {>"partials/dashboard.html"/}
            <!--/Dashboard-->

            <!-- Footer-->
            {>"partials/footer.html"/}
            <!-- /Footer-->
        </div>
        <!--! end of #container -->

    <!-- SCRIPTS -->
    {>"partials/scripts.html"/}

    <!-- CUSTOM JS CODE SPECIFIC TO THIS PAGE -->
    <script src="resources/js/jquery.scrll.js"></script>
    <script src="resources/js/home.js"></script>

    </body>
</html>