<!doctype html>
<html>

<head>
    <meta charset="utf-8">

    {>"views/partials/head.html"/}
</head>

<body>
<div id="container">

    <!-- Header-->
    {>"views/partials/header.html"/}
    <!--/Header-->

    <!-- Content-->
    <div id="content">
        <div class="wrapper clearfix"> <span class="top">&nbsp;</span>

            {>"views/partials/title.html"/}

            <div class="inner-content clearfix">

                <div class="cms-content">

                    <div class="breadcrumbs">
                        {>"views/partials/breadcrumbs.html"/}
                    </div>

                    {@content records=5}

                    <ul>
                        {#items}
                        <li class="project">
                            <img class="project-image" src="{@cloudinary path="picture" width="550" height="261" crop="fill" gravity="north" /}" alt="{title}">

                            <div class="left">
                                <h2>{title}</h2>

                                <div class="seperator">
                                    <span class="primary"></span>
                                    <span class="hr"></span>
                                </div>

                                <div class="cms-editor">
                                    {@truncate split="false" length="150"}{text|st|s}{/truncate}
                                </div>

                                <div class="seperator">
                                    <span class="primary"></span>
                                    <span class="hr"></span>
                                </div>

                                {?link}<a href="{link}" target="_blank">{#config}{view_site}{/config}</a>{/link}
                            </div>

                            <div class="clear"></div>
                        </li>
                        {/items}
                    </ul>

                    <div class="pagination">
                    {@paging count=count records=records}
                        {?previous}
                        <a href="{prelink}{previous}">{#config}{prev}{/config}</a>
                        {/previous}
                        {#range}
                        {@eq key=current value=. type="number"}
                        <span>{.}</span>
                        {:else}
                        <a href="{prelink}{.}">{.}</a>
                        {/eq}
                        {/range}
                        {?next}
                        <a href="{prelink}{next}">{#config}{next}{/config}</a>
                        {/next}
                    {/paging}
                    </div>
                    {/content}
                </div>

                <span class="arrow1">&nbsp;</span>
            </div>

            {>"views/partials/phone.html"/}
        </div>
    </div>
    <!--/Content-->

    <!-- Footer-->
    {>"views/partials/footer.html"/}
    <!-- /Footer-->
</div>
<!--! end of #container -->

<!-- SCRIPTS -->
{>"views/partials/scripts.html"/}

</body>
</html>