/**********************************************************************************************
	Main Sections in CSS:
	
	1.	BASIC ELEMENTS
		Define styles for basic elements: body, h1-h6, ul, ol, a, p, etc.
	
	2.	LAYOUT
		Define the basic template: header, footer, etc. Elements that help to define the basic layout of the site
		
	3.	PAGE COMMON STYLES
		Define content styles that are common to all the pages in the project. For example Logo in header, tabs in navigation, buttons, rounded boxes etc
	
	4.	PAGE SPECIFIC STYLES
		Define content styles that are specific to a particular page
	
***********************************************************************************************/


/* core styles */
/**
* Eric Meyer's browser reset
* @see     http://meyerweb.com/eric/tools/css/reset/
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

/* remember to define focus styles! */
:focus {
    outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*------------------------------------------------------------------------------------------------------*/


/**
* Clearing Methods
* @see     http://yaml.de/en/documentation/basics/general.html
*/

/* clearfix method for clearing floats */
.clearfix:after { content: "."; display: block; font-size:0; height: 0; clear: both; visibility: hidden;}

/* essential for Safari browser !! */
.clearfix { display: block; }

/* overflow method for clearing floats */
.floatbox { overflow:hidden; }

/* older method of adding empty tags for clearing */
.clear { clear: both; height:1px; line-height:1px; }

/*------------------------------------------------------------------------------------------------------*/



/**
* Generic Classes
* @description     Define styles for simple things like floating to the sides, text aligning, image-replacements
*/

/*---- Floats ----*/
.flR { float: right; }
.flL { float: left; }

/*---- Horizontal Alignment ----*/
.alR { text-align: right; }
.alC { text-align: center; }

/*---- Vertical Alignment ----*/
.vlT {vertical-align:top;}
.vlB {vertical-align:bottom;}

/*---- Hide ----*/
.hide { display: none; }

/*---- Image Replacement Technique ----*/
.ir { position: relative; overflow: hidden; }
.ir span { position: absolute; top: 0; text-indent: -1000em;}

/*------------------------------------------------------------------------------------------------------*/


/**
* Defaults
*/

html { font-size: 100.01%; }
body { font-size: 62.5%; line-height:1em; }

a:link, a:visited { text-decoration: none; cursor/**/: /**/pointer; }
a:link:hover, a:visited:hover { text-decoration: underline; }


/*------------------------------------------
// 1.BASIC ELEMENTS
//	 Define styles for basic elements: body, h1-h6, ul, ol, a, p, etc.
//------------------------------------------*/
body { background:url(../images/theme/body-bg.gif) repeat left top; color:#000; font-family:"Lucida Sans Unicode", Arial, sans-serif; }
h1, h2, h3, h4, h5, h6, p, li { line-height:1.0em; }


/*------------------------------------------
// 2.LAYOUT
//   Define the basic template: header, footer, etc. Elements that help to define the basic layout of the site
//------------------------------------------*/
	
/*---- Wapper ----*/
.wrapper{ width:910px; margin:0 auto; padding:0 35px; direction: rtl; }

/*---- Header ----*/
#header{ margin-bottom:10px; }
#header .wrapper { background:url(../images/theme/header/border-bg.gif) repeat-x right bottom; }

/*---- Main Navigation ----*/
#main-navigation { float:right; }

/*---- Banner ----*/
#banner {  margin-bottom:8px; padding-top: 41px; }
#banner .wrapper {position:relative;}

/*---- Content ----*/
#content { background:#f8f8f8; }
#content .wrapper{ width:980px; margin:0 auto; padding:0; position:relative;}
#content .wrapper span.top{ background:url(../images/theme/content-bg.png) no-repeat left top; position:absolute; left:0; top:-10px; height:35px; width:980px; display:block;}

#content .inner-content { background:#fff; box-shadow:5px 5px 10px #f2f2f2 ,-5px -5px 10px #f2f2f2; position:relative; width:910px; margin:0 auto; padding:0 35px; }
#content .inner-content span.arrow1{ background:url(../images/theme/content-bottom-bg.gif) no-repeat left bottom; height:8px; width:15px; position:absolute; left:50%; bottom:-8px;}

/*---- Main ----*/
#main { float:right; width:580px; padding:10px; background:#9c9; }

/*---- Sidebar ----*/
#sidebar { float:left; width:340px; padding:10px; background:#99c; }

/*---- Dashboard ---*/


#dashboard {font-family: Arial, sans-serif;}
#dashboard .wrapper{ padding:51px 0 36px; position:relative;}
#dashboard .wrapper span.arrow2{ background:url(../images/theme/dashboard-top-bg.gif) no-repeat left top; height:8px; width:15px; position:absolute; left:50%; top:0;}

/*---- Footer ----*/
#footer { background:#1f1f1f; font-family: Arial, sans-serif;}
#footer .wrapper{ padding:23px 0 24px;}

/*------------------------------------------
// 3. PAGE COMMON STYLES
//	  Define content styles that are common to all the pages in the project. For example Logo in header, tabs in navigation, buttons, rounded boxes etc
//------------------------------------------*/

/*---- Header - Logo ----*/
#header .logo{ float:left; padding:12px 0 9px; }
#header .logo h1 a { position:relative; width:155px; display:block; }
#header .logo h1 a span{  position:relative; width:155px; height:0; background:url(../images/theme/header/logo.png) 0 0 no-repeat; display:block; overflow:hidden; padding-top:59px; }

/*---- Main Navigation ----*/
#main-navigation ul { margin:0; padding:0;}
#main-navigation ul li{ float:right; margin-left:0; }
#main-navigation ul li.last{ margin-left:0;}
#main-navigation ul li a { text-shadow:1px -1px #202020; line-height:82px; height:82px; display:block; text-decoration:none; text-transform:uppercase; font-size:16px; color:#949494; padding:0 17px 0 18px; }
#main-navigation ul li a:hover,#main-navigation ul li.active a{ color:#fff; text-shadow:1px -1px #212222; background:url(../images/theme/header/nav-hover-bg.png) repeat-x left top; }

/*---- Banner - Description---*/
#banner .description { float:right; width:330px; padding:20px 16px 0 0; }
#banner .description h2{ font-size:36px; line-height:38px; color:#e1e1e1; margin-bottom:21px; text-shadow:-1px -1px #2a2a2a;}
#banner .description p{ font-size:16px; line-height:22px; color:#939393; margin-bottom:29px; margin-left: 30px;}
#banner .description a{ margin-bottom:59px; height:37px; }


/*---- Banner - Image---*/
#banner .image { float:right; width:540px; margin-left: 20px; }

/*---- Controls---*/
#banner .slides { position: relative; width: 910px; height: 331px; overflow: hidden; }
#banner .slide { position:absolute; width: 910px; height: 331px; overflow: hidden; }
#banner .controls{ position:absolute; right:56px; bottom:40px; z-index:9999; }
#banner .controls a{ float:right; background:url(../images/theme/controls.png) no-repeat -16px top; height:11px; width:10px; display:block; margin-left:6px;}
#banner .controls a.activeSlide ,#banner .controls a:hover{ background-position:0 0; text-decoration:none;}


/*---- Banner - Buttons--*/
div#banner div.wrapper a.previous-btn ,div#banner div.wrapper a.next-btn{ display:block; top:34%; position:absolute; height:20px; width:13px;}
div#banner div.wrapper a.previous-btn:hover ,div#banner div.wrapper a.next-btn:hover{ text-decoration:none;}

div#banner div.wrapper a.previous-btn{ background:url(../images/theme/next-btn.png) no-repeat left top; right:-65px; }
div#banner div.wrapper a.previous-btn:hover { background:url(../images/theme/next-btn-hover.png) no-repeat left top;}

div#banner div.wrapper a.next-btn{ background:url(../images/theme/previous-btn.png) no-repeat right top; left:-58px; }
div#banner div.wrapper a.next-btn:hover{ background:url(../images/theme/previous-btn-hover.png) no-repeat right top;}

/*---- Tittle ----*/
#content .tittle{ border-bottom:1px solid #ebebeb; background:#f8f8f8 ; padding:35px 12px; box-shadow:-1px 0 0 #f2f2f2 ,1px 0 0 #f2f2f2; }
#content .tittle h2{ margin-left:55px; font-size:26px; line-height:40px; color:#5b5b5b; margin-right:20px; float:right;  }

/*---- Features ----*/
#features{ padding-top:58px; margin-bottom:10px;}
#features .one-fourth{ width:216px; float:left; margin-right:15px; font-family: "Open Sans",Arial,sans-serif; font-size: 16px;}
#features .one-fourth.first p{ margin-bottom:8px;} 
#features .one-fourth.last{ margin-right:0; }
#features .one-fourth a{ color:#339933; font-size:13px; line-height:30px; text-transform:uppercase;font-weight:600; border-bottom: 1px dotted #339933; font-family: Arial, sans-serif ; }
#features .one-fourth a:hover{ text-decoration:none;}

/*---- Heading----*/
#content .heading{ padding:30px 0; font-family: Arial, sans-serif;}
#content .heading p{ border-bottom:1px solid #ededed;}
#content .heading p span{ text-transform:uppercase; font-size:12px; line-height:16px; color:#bdbdbd; font-weight:normal; width:84px; background:#fff; margin:0 auto; display:block; text-align:center; bottom:-7px; position:relative;}

/*---- Services ----*/
#services{ padding-top:23px; margin-bottom:50px;}

/*---- Tab-List ----*/

#services ul.tab-strip{ margin:0; padding:0; float:left; width:206px;}
#services ul.tab-strip li{ list-style:none; background:url(../images/theme/a-bg.gif) repeat-y left top; }
#services ul.tab-strip li a{ font-size:13px; line-height:15px; color:#818181; padding:25px 15px 18px 55px; border:1px solid #eeeeee; background:url(../images/theme/tab-list-icons.png) no-repeat left top; display:block; border-left:0; border-top:0; }

#services ul.tab-strip li.copywriting a ,#services ul.tab-strip li.copywriting:hover a ,#services ul.tab-strip li.copywriting.ui-state-active a{ background-position:15px 22px;}
#services ul.tab-strip li.product-design a ,#services ul.tab-strip li.product-design:hover a ,#services ul.tab-strip li.product-design.ui-state-active a{ background-position:15px -38px;}
#services ul.tab-strip li.interface-design a ,#services ul.tab-strip li.interface-design:hover a ,#services ul.tab-strip li.interface-design.ui-state-active a{ background-position:15px -95px;}
#services ul.tab-strip li.user-research a , #services ul.tab-strip li.user-research:hover a ,#services ul.tab-strip li.user-research.ui-state-active a{ background-position:15px -157px;}
#services ul.tab-strip li.usability-testing a ,#services ul.tab-strip li.usability-testing:hover a ,#services ul.tab-strip li.usability-testing.ui-state-active a{ background-position:15px -212px;}
#services ul.tab-strip li.prototyping a ,#services ul.tab-strip li.prototyping:hover a ,#services ul.tab-strip li.prototyping.ui-state-active a{ background-position:15px -271px;}

#services ul.tab-strip li:hover{ background:url(../images/theme/li-hover.gif) no-repeat left top;}
#services ul.tab-strip li:hover a{ text-decoration:none; color:#339933; background:url(../images/theme/tab-list-icons-hover.png) no-repeat left top;}
#services ul.tab-strip li a:hover{ text-decoration:none; color:#339933;}

#services ul.tab-strip li.ui-state-active{ background:#fff; margin-top:-1px; position:relative; }
#services ul.tab-strip li.ui-state-active a{ background:url(../images/theme/tab-list-icons-active.png) no-repeat left top; border:1px solid #eeeeee; border-right:0; border-radius:4px 0 0 4px; -moz-border-radius:4px 0 0 4px; -webkit-border-radius:4px 0 0 4px; color:#3e3e3e; position:relative;}


/*---- Tab-Content ----*/
#services .ui-tabs-hide { display:none; }
#services .tab-content{ float:right; width:679px; padding-top:15px; }
#services .tab-content h3{ color:#a0a0a0; margin-bottom:29px;}

#services .tab-content .testimonial{ margin-left:40px; width:204px; float:right; margin-top:-4px; position:relative;  border:1px solid #ececec; box-shadow:4px 4px 10px #ededed; background:#fff; margin-bottom:55px;}
#services .tab-content .testimonial p.cite{ position:absolute; left:66px; bottom:-65px;}
#services .tab-content .testimonial .bottom{ background:url(../images/theme/box1.png) no-repeat left bottom; height:42px; margin-bottom:-39px; position:relative;}

/*---- Clients----*/
#clients{ position:relative; overflow: hidden; top: -15px; padding-left: 20px; height: 150px;}

/*---- Contact----*/
#content .contact{ padding:38px 0; background:none; box-shadow:none;}
#content .contact p{ text-align:center; font-size:18px; line-height:24px; color:#b0b0b0; font-family:Arial, serif; font-style:italic;}
#content .contact p span{ color:#868686; font-size:22px; font-family:Georgia, "Times New Roman", Times, serif;}

/*---- Post ---*/
.post h1 { font-size:36px; line-height:40px; color:#3e3e3e; margin-bottom:7px;}
.post h2 { font-size:20px; line-height:20px; color:#339933; text-shadow:1px -1px #a0cfa0; text-transform:uppercase; margin-bottom:22px;}
.post h3 { font-size:20px; line-height:20px; color:#3e3e3e; margin-bottom:6px; }
.post h4 { font-size:220%; margin-bottom:10px;}
.post h5 { font-size:200%; margin-bottom:10px;}
.post h5 { font-size:180%; margin-bottom:10px;}

.post p { color:#737373; line-height:20px; font-size:13px; margin-bottom:25px; font-weight:normal;}
.post p a { color:#339933; }

.post blockquote { margin-bottom:20px;   padding:20px 18px 0 19px; }
.post blockquote p{ font-style:italic; margin-bottom:20px;}
.post blockquote p cite{  display:block;  font-size:11px; color:#737373; line-height:14px; font-weight:normal; font-style:normal; text-transform:uppercase; }
.post blockquote p a{ font-style:normal;}

.post img { max-width:100%; }
.post img.alignleft{ float:left; margin:0 10px 10px 0; display: inline;}
.post img.alignright{ float:right; margin:0 0 10px 10px; display: inline;}
.post img.aligncenter{ display:block; margin-left:auto; margin-right:auto; margin-bottom:10px;}

.post ul { margin:0 0 20px 14px; list-style:disc; }
.post ol { margin:0 0 20px 18px; list-style:decimal; }
.post li { line-height:1.2em; font-size:120%; }
.post li ul, .post li ol { margin-bottom:0; } 
.post li li, .post li p { font-size:100%; margin-bottom:0; }

/*---- Post - Custom Lists ---*/
.post ul.list1 { margin:0; padding:0; }
.post ul.list1 li { margin:0; padding:0; }

.post ol.list2 { margin:0; padding:0; }
.post ol.list2 li { margin:0; padding:0; }

/*---- Dashboard ---*/
#dashboard .section{ width:205px; float:left; margin-right:25px;}
#dashboard .section h6{ font-size:16px; color:#fff; line-height:24px; margin-bottom:12px; text-transform:uppercase;}
#dashboard .section p{ font-size:12px; color:#989898; line-height:18px; font-weight:normal;}

/*---- Usefull - Stuff ---*/
#dashboard .usefull-stuff{ margin-right:29px;}
#dashboard .usefull-stuff ul ,#dashboard .blog-posts ul ,#dashboard .contact-form ul{ margin:0; padding:0;}
#dashboard .usefull-stuff ul li{  list-style:none; border-bottom:1px solid #3b3b3b;}
#dashboard .usefull-stuff ul li a{background:url(../images/theme/arrow.png) no-repeat right center; padding-right:13px; color:#9b9b9b; line-height:30px; font-size:12px; font-weight:normal;}
#dashboard .usefull-stuff ul li a:hover,#dashboard .usefull-stuff ul li.active a ,#dashboard .blog-posts ul li a:hover ,#dashboard .blog-posts ul li.active a{ text-decoration:none; color:#339933;}
#dashboard .usefull-stuff ul li.last{ border-bottom:none;}

/*---- Latest - Blog - Posts ---*/
#dashboard .blog-posts{ margin-right:29px;}
#dashboard .blog-posts ul li{ list-style:none; margin-bottom:27px; }
#dashboard .blog-posts ul li.last{ margin-bottom:0;}
#dashboard .blog-posts ul li img{ margin-right:12px; float:left;}
#dashboard .blog-posts ul li a{ color:#9b9b9b; line-height:15px; font-size:11px; font-weight:normal;}
#dashboard .blog-posts ul li span.metadata{ color:#696969; line-height:16px; font-size:11px; font-weight:normal;}

/*---- Contact - Form ---*/
#dashboard .contact-form{ margin-right:0; font-family: Arial, sans-serif;}
#dashboard .contact-form ul li{ list-style:none; margin-bottom:10px;}
#dashboard .contact-form ul li span.textbox{ background:url(../images/theme/textbox-bg.png) no-repeat left top; height:13px; width:187px; display:block; padding:10px 9px;}
#dashboard .contact-form ul li input.textbox{ padding:0; background:transparent; border:none; color:#999999; font-size:12px; font-weight:normal; line-height:13px; width:100%; height:13px;}

#dashboard .contact-form ul li span.textarea{ background:url(../images/theme/textarea-bg.png) no-repeat left top; height:71px; width:183px; display:block; padding:8px 11px;}
#dashboard .contact-form ul li textarea.textarea{ font-family: Arial, sans-serif; overflow:hidden; margin:0; background:transparent; border:none; color:#999999; font-size:12px; font-weight:normal; line-height:13px; width:100%; height:71px; resize:none;}

#dashboard .contact-form ul li span.sent-btn{ background:url(../images/theme/sent-btn.png) no-repeat left top; height:33px; width:82px;  display:block;  }
#dashboard .contact-form ul li input.sent-btn{ background:transparent; border:none; color:#8a8a8a; font-size:13px; line-height:33px; height:33px; width:82px; cursor:pointer; padding:0;}
#dashboard .contact-form div { font-size: 14px; color: #393; line-height: 16px;}
#dashboard .contact-form div.fail {color: #942a25; font-weight: bold;}
/*---- Footer ---*/
#footer p.copy-right ,#footer .sociable span{ float:right; font-size:11px; color:#646464; line-height:15px; font-weight:normal;}

/*---- Footer - Sociable--*/
#footer .sociable{ float:left;}
#footer .sociable a{ float:left; margin-right:10px; background:url(../images/theme/icons.png) no-repeat 0 0; display:block; height:16px; width:21px;}
#footer .sociable a:hover{ text-decoration:none;}
#footer .sociable a.twitter{ margin-left:13px; background-position:0 0;}
#footer .sociable a.facebook{ background-position:-35px 0;}
#footer .sociable a.vimeo{ background-position:-67px 0;}
#footer .sociable a.youtube{ background-position:-99px 0;}
#footer .sociable a.skype{ background-position:-131px 0; margin-right:0;}

/*---- Common Boxes & Containers ----*/


/*---- Buttons ----*/

/*---- Button1---*/
a.button1{ color:#fff; font-size:13px; font-weight:bold; text-transform:uppercase; text-shadow:-1px -1px #747474; background:url(../images/theme/btn1.gif) repeat-x left top; position:relative; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; line-height:40px; height:38px; width:140px; text-align:center; display:inline-block; }
a.button1:hover{ text-decoration:none;}

/*---- Button2---*/
a.button2{ color:#7a7a7a; font-size:13px; font-weight:bold; text-transform:uppercase; text-shadow:1px 1px #fff; background:url(../images/theme/btn2.gif) repeat-x left top; position:relative; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; line-height:34px; height:32px; width:140px; text-align:center; display:inline-block; }
a.button2:hover{ text-decoration:none;}


/*---- Lists ----*/


/*------------------------------------------
// 4.1  INDEX PAGE SPECIFIC STYLES
//------------------------------------------*/


div.editor,
div.editor div,
div.editor p{
    font-family: Arial, sans-serif;
    font-size: 15px;
    line-height: 26px;
    color: #666666;
    margin: 20px 0!important;
}

.scrollable {

    /* required settings */
    position:relative;
    overflow:hidden;
    width: 832px;
    height:143px;
    direction: ltr;
}

/*
   root element for scrollable items. Must be absolutely positioned
   and it should have a extremely large width to accomodate scrollable
   items.  it's enough that you set the width and height for the root
   element and not for this element.
*/
.scrollable .items {
    /* this cannot be too large */
    width:20000em;
    position:absolute;
    clear:both;
}

.items div {
    float:left;
    width:840px;
}

/* single scrollable item */
.scrollable img {
    float:left;
    margin:20px;
}

/* this makes it possible to add next button beside scrollable */
.scrollable {
    float:left;
}

/* prev, next, prevPage and nextPage buttons */
a.browse {
    background-repeat: no-repeat!important;
    display:block;
    width:9px;
    height:13px;
    float:left;
    margin:60px 10px;
    cursor:pointer;
    font-size:1px;
}

/* right */
a.right { background: url(../images/theme/client-next-btn.png); clear:right; margin-right: 0px;}
a.right:hover { background: url(../images/theme/client-next-hover.png) }


/* left */
a.left { background: url(../images/theme/client-previous-btn.png); margin-left: 0px; }
a.left:hover { background: url(../images/theme/client-previous-hover.png) }

div.cms-content {
    padding: 25px 0;
    font-family: Arial, sans-serif;
}

div.breadcrumbs {
    font-size: 12px;
    color: #000;
    font-family: Arial, sans-serif;
    margin-bottom: 30px;
}

.breadcrumbs a {
    margin-left: 10px;
    padding-left: 20px;
    text-decoration: none;
    background: url(../images/theme/client-previous-hover.png) no-repeat left;
    color: #000;
    opacity: 0.6;
}

div.cms-editor {
    font-size: 14px;
    color: #737373;
    line-height: 20px !important;
}

div.cms-content h2 {
    font-size: 22px;
    margin-bottom: 15px;
    color: #393;
}

div.cms-content h3 {
    font-size: 18px;
    color: #494949
}

div.cms-editor p {
    margin-bottom: 20px;
    line-height: 20px !important;
}
div.cms-editor a{
    color: #393;
    text-decoration: none;
    border-bottom: 1px dotted #393;
}

div.cms-editor a:hover {
    border: 0;
    text-decoration: none;
}


div.cms-picture {
    margin: 20px 0;
    box-shadow: 0 20px 60px #ebebeb;
}

div.cms-picture div.title {
    height: 50px;
    font-size: 14px;
    line-height: 50px;
    padding: 0 20px;
    color: #b3b1b1;
    border-bottom: 1px solid #ebebeb;
}

img.cms-picture {
    display: block;
/*    -webkit-border-radius: 10px;
    box-shadow: 0 0 8px #888;*/
}

li.project {
    clear: both;
    margin-bottom: 30px;
    box-shadow: 0 30px 60px #ebebeb;
    height: 261px;
}

li.project img.project-image {
    width: 550px;
    height: 261px;
    float: right;
    margin-left: 15px;
}

li.project div.left {
    float: right;
    width: 300px;
}

li.project div.left div.seperator {
    padding: 25px 0;
    line-height: 2px;
    height: 2px;
    clear: both;
    display: block;
    overflow: hidden;
    width: 100%;
    position: relative;
    margin: 0;
}

li.project div.left div.seperator .primary {
    height: 3px;
    width: 70px;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -1px;
    z-index: 5;
    background-color: #393;
}

li.project div.left div.seperator .hr {
    width: 100%;
    border-top: 1px solid;
    position: absolute;
    left: 0;
    top: 50%;
    z-index: 1;
    border-color: #E8E8E8;
}

li.project div.left a {
    float: left;
    color: #393;
    text-decoration: none;
    font-size: 14px;
    border-bottom: 1px dotted #393;
    padding-bottom: 5px;
}

li.project div.left a:hover {
    border: 0;
}

div.pagination {
    clear: both;
    font-size: 12px;
    direction: rtl;
}

div.pagination a {
    color: #393;
    margin: 0 5px;
    float: right;
}

div.pagination span {
    margin: 0 5px;
    color: #333;
    float: right;
}

::selection {
    background: #393; /* Safari */
    color: white;
}
::-moz-selection {
    background: #393; /* Firefox */
    color: white;
}

.placeholder {
    color: #999;
    font-size: 12px;
    position: absolute;
    right: 10px;
}